<!DOCTYPE html>
<html lang="en">
<head>
  <title>forgot password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      </head>
<body>
    <h1 align="center" style="margin:5% 0 5% 0;">FORGOT PASSWORD</h1>
    <form method ='post' action='/forgetpassword'>
    <div class="login-form" style="width:50%;margin:auto;border:black 2px solid;padding:5%;">
               
              <div class="form-group">
                <label for="exampleDropdownFormPassword2">username</label>
                <input type="text"  name='username' class="form-control" id="exampleDropdownFormPassword2" placeholder="enter your username">
              </div>
              <button type="submit" class="btn btn-primary">send email</button>
            
            </div>
         </form>
              </body>
</html>
