<!DOCTYPE html>
<html lang="en">
<head>
  <title>JOGI NUTRITION</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="buyproduct.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .form-inline{
    margin-right:10%;
}
form{
    
    width:50%;
    margin-right:20%;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    font-family:bold;
    
    background-color: rgba(0,0,0,0);
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding:5px 0 5px 15px;
   }
   .big-description{
 display:inline-flex;  
 width:100%;
  
   }

   .product-description{
    
    width:60%;
    margin:3% 0 0 3%;
    
    }  
    /* Product informaton */
    .product-name{
        font-family:'Times New Roman', Times, serif;
        font-size:25px;
        
    }
/* rATINGS AND REVIEW BAR */
.product-rating{
      
    padding:10%;
}
.heading {
    font-size: 25px;
    margin-right: 25px;
   
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}


  </style>
</head>
<body>
  <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white; border-bottom:black 1px solid;">
                <a class="navbar-brand" href="#">JOGI NUTRITION</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  
                </div>
                <form align="center">
                        <input  type="text" name="search" placeholder="Search..">
                      </form>
                      <div class="navbar-nav" >
                            
                            <a class="nav-item nav-link" style="color:black;" href="#">LOGIN</a>
                            <a class="nav-item nav-link" style="color:black;"  href="#" >MY KART</a>
                            
                          </div>
              </nav>
              <div class="big-description" >
                <!-- Image of the product -->
                    <div class="card" style="width:30%;margin:3% 0 0 3%; ">
                            <img class="card-img-top" src="http://res.cloudinary.com/dhujdb1zv/image/upload/v1518008904/ri2y8vdnstizs6kfcfjc.png" alt="Card image cap">
                            
                          
              </div>

              <div class="product-description ">
                <!-- Product description -->
                  <div class="product-name" >Name of the product</div><br>
                  <div class="cost product-name" style="font-weight:bold;"><p> &#x20b9; 9500</p></div>
                  <div class="desription">DESCRIPTION:&nbsp&nbsp&nbsp How to decide the size and number of words of description.</div>
                  <br><br><br>
                  <button type="button" class="btn btn-primary btn-lg btn-block" align="center" style="width:30%; margin:auto;">buy now</button>
                  <br><br><br>
                  <button type="button" class="btn btn-primary btn-lg btn-block" align="center" style="width:60%; margin:auto;">ADD TO KART</button>

                  <!-- Rating and number of reviews -->
                  
                                                          
                      <div class="Review"><h1>Reviews<br></h1></div>
                    </div>
                  </div>
              </div>
            </div>
              